<!DOCTYPE html>
<html>
   <%- include("./partials/head") %> 
  <body>
    <%- include("./partials/header") %> 
    <main>
      <section>
        <h1>¡Hola Mundo!</h1>
      <div class="foto">
      </div>
      <p class="nombre"><i class="fas fa-terminal"></i> Soy Tamara Benitez</p>
      <p class="puesto"> FullStack Web Developer  <i class="fas fa-laptop-code"></i></p>
      <p class="busqueda"> Estoy <b>buscando mi primera oportunidad laboral</b> en el sector IT.</p>

      <div class="redes">
        <a href="https://github.com/tamiisoledad"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/tamara-benitez/"><i class="fab fa-linkedin"></i></a>
        <a href="https://drive.google.com/file/d/1uug1Fbq6E-vpBuF2RbI8vGEs9jciYqLn/view?usp=sharing"><i class="far fa-file-pdf"></i></a>
      </div>
      </section>
      
      <section class="herramientas" >
        <a href="" name="herramientas"></a>
        <h2>Herramientas</h2>
        <div class="r1">
          <div class="js"></div>
          <div class="react"></div>
        </div>
        <div class="r2">
          <div class="node"><i class="fab fa-node"></i></div>
          <div class="express"></div>
        </div>
        <div class="r3">
          <div class="mysql"></div>
          <div class="sequelize"></div>
        </div>
        <div class="r4">
          <div class="html"></div>
          <div class="css"></div>
        </div>
        <div class="r5">
          <div class="boot"></div>
          <div class="git"></div>
        </div>
        <div class="r6">
          <div class="java"></div>
          <div class="eclipse"></div>
        </div>
        <div class="r7">
          <div class="visual"></div>
          <div class="dbeaver"></div>
        </div>
      </section>
      <section class="about">
        <h2 class="t">Acerca de mi</h2>
        <a href="" name="about"></a>
        <div>
          <p>Disfruto mucho del trabajo en equipo y tambien del trabajo individual, me gustan los retos y desafios.
            Tengo muchas ganas de seguir aprendiendo y de trabajar 
          </p>
        </div>
        
      </section>
    </main>
    <%- include("./partials/footer")  %>
    <%- include("./partials/script") %>  
  </body>
</html>
