<footer>
    <section>
        <h2>Contacto</h2>
        <a href="" name="contacto"></a>
        <div>
            <p>
                ¡Si crees que puedo aportar valor a tu empresa hablemos!
            </p>
            <a class="Contact_btn__18N6_" href="mailto:tamiisoledad4@gmail.com"><i class="far fa-envelope" aria-hidden="true"></i> Escríbeme</a>
            
        </div>
        <a href="#" class="arrow"><i class="fas fa-arrow-circle-up"></i></a>
    </section>
    
</footer>