<header>
    <nav class="nav nav-pills flex-column flex-sm-row" >
      <a class="flex-sm-fill text-sm-center nav-link active bg-dark " aria-current="page" href="#herramientas">Herramientas</a>
      <a class="flex-sm-fill text-sm-center nav-link text-secondary" href="#about">Acerca de mi</a>
      <a class="flex-sm-fill text-sm-center nav-link text-secondary" href="#contacto">Contacto</a>
    </nav>
  
</header>